body{
    font-family: DM Sans, Delius Unicase, Roboto;
}
#logo{
    font-family: Delius Unicase;
}
#button li{
    font-family: DM Sans;
}
/* #logo1{
    display: flex ;
    width: full;
} */
@media (min-width:800px) {
    #github{
        right: 120px;
    }
}
#inf1{
    font-family: Roboto;
    font-weight: 500;
}
#inf{ 
    font-family: Roboto;
    font-weight: 300;
    font-size: small;
    text-align: center;
}
